a{
  text-decoration: none;
  color: black;
}
#menu li{
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}
#tech_table dt{
  font-weight: bold;
  margin: 10px
}
#tech_table dd{
  margin-bottom: 5px;
}
.gray_box{
  list-style: none;
  margin-right: 50px;
  background-color: #DDDDDD;
  border-radius: 20px;
  padding: 20px;
}
.big_text{
  font-size: 70px;
}
#main_title{
  font-size: 45px;
  text-align: center;
  border-bottom: 1px solid black;
  margin: 0;
  padding: 20px;
  background-color: gray;
}
#main_title a{
  color: white;
}

#menu{
  list-style-type: none;
  border-right: 1px solid black;
  width: 100px;
  padding: 20px;
  margin: 0;
  height: 100%;
}
#content{
  padding-left: 20px;
}
#content li{
  margin: 5px;
}
@media screen and (min-width: 500px){

  #grid{
    display: grid;
    grid-template-columns: 150px 1fr;
  }
}
@media screen and (max-width: 500px){
  #menu{
    background-color: #DDDDDD;
    border-radius: 20px;
    border: none;
    width: 70%;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 50px;
  }
}
